/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width !important;
}

.container.mt-5 {
  max-width: 95% !important;
}

// Override Bootstrap container constraints
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 95% !important;
  }
}

@media (min-width: 768px) {
  .container, .container-md {
    max-width: 95% !important;
  }
}

@media (min-width: 992px) {
  .container, .container-lg {
    max-width: 95% !important;
  }
}

@media (min-width: 1200px) {
  .container, .container-xl {
    max-width: 95% !important;
  }
}

// Profile
.profile {
  img {
    width: 100%;
    max-width: 700px;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
